<div>
  <div class="button-group" appDropdown>
    <button
      type="button">Manage Recipe <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a (click)="sendToShopping()" routerLink="/shopping-list">To Shopping List</a></li>
      <li><a routerLink="edit">Edit Recipe</a></li>
      <li><a>Delete Recipe</a></li>
    </ul>
  </div>
</div>

<div id="recipeDetails">
  <h1>{{ recipeSelected.name }}</h1>
  <h2>{{ recipeSelected.description }}</h2>

  <div>
    <div>Ingredients:</div>
    <ul>
      <li *ngFor="let ing of recipeSelected.ingredients">{{ ing.name }}: ({{ ing.amount }})</li>
    </ul>
  </div>
</div>
